<div class="home-content wrapper" id="image-home">
  <h2 class="page-title">We're Happy By Tweet!!</h2>
  <p>気軽にシーンをシェアしません?楽しさを共有。</p>
</div>
<div class="contents row">
  <div class="container">
    <h2>サインアップ</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :ニックネーム %> <em>(最大6文字まで)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :パスワードの確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "サインアップする" %>
        <%= link_to "ログインする", new_user_session_path, class: "login" %>
      </div>
    <% end %>
    <ul class= "sns_register">
      <li class= "sns_register"><%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, method: :post %></li><br>
      <li class= "sns_register"><%= link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post %></li>
    </ul>
  </div>
</div>