<%= render partial: "tweets/header" %>
<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>
        投稿する
      </h3>
      <%= form.text_field :image, placeholder: "画像のURLを入力して下さい。" %>
      <%= form.text_area :text, placeholder: "本文" , rows: "10" %>
      <%= form.submit "投稿" %>
    <% end %>
  </div>
</div>
